<section class="call _yellow">
  <div class="container">
    <div class="call__title _h2">
      Заинтересовало? <br>
      Тогда регистрируйтесь!
    </div>
    <form class="call__inner js-form">
      <div class="call__text">
        После заполнения и отправки формы с вами свяжется менеджер для личного разговора. Уточнив детали, мы пришлём
        логин и пароль для доступа в личный кабинет. Здесь можно задать вопрос консультанту, а в соответствующих
        разделах портала «Сдавайкин» вы найдёте перечень документов, необходимых для зачисления.
      </div>
      <div class="form ">
        <div class="form__row">
          <div class="form__inputs">
            <div class="input">
              <input class="input__input" type="text" placeholder="Ваше имя" name="name">
            </div>
          </div>
          <div class="form__inputs">
            <div class="input">
              <input class="input__input tel" type="tel" placeholder="Номер телефона" name="phone">
            </div>
          </div>
          <div class="form__inputs">
            <div class="input">
              <select class="input__input _select js-select" name="connection" data-placeholder="Как с вами связаться?">
                <option></option>
                <option value="phone">Телефон </option>
                <option value="WhatsApp ">WhatsApp </option>
                <option value="Telegram ">Telegram </option>
              </select>
            </div>
          </div>
          <button class="form__btn btn btn_4" type="submit">
            Отправить
          </button>
        </div>

      </div>
      <div class="form__policy call__policy">
        <span>Нажимая кнопку, вы соглашаетесь </span><a href="#">на&nbsp;обработку своих персональных данных</a>
      </div>
    </form>
  </div>
</section>