<div id="classes" class="popup">
  <div class="popup__body">
    <div class="popup__content _class">
      <a href="#" class="popup__close popup--close">

        <svg class="popup__close-img" width="40" height="40" viewBox="0 0 40 40" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="M24.9497 15.0503L15.0502 24.9498" fill="white" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M15.0503 15.0503L24.9498 24.9498" fill="white" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </g>

        </svg>

      </a>

      <div class="popup__inner ">
        <div class="popup__title">
          Выберите класс:
        </div>
        <ul class="popup__classes">
          <li class="popup__classes-item">
            <a class="popup__classes-link" href="#">
              1 класс
            </a>
            <a class="popup__classes-link" href="#">
              2 класс
            </a>
            <a class="popup__classes-link" href="#">
              3 класс
            </a>
          </li>
          <li class="popup__classes-item">
            <a class="popup__classes-link" href="#">
              4 класс
            </a>
            <a class="popup__classes-link" href="#">
              5 класс
            </a>
            <a class="popup__classes-link" href="#">
              6 класс
            </a>
          </li>

          <li class="popup__classes-item">
            <a class="popup__classes-link" href="#">
              7 класс
            </a>
            <a class="popup__classes-link" href="#">
              8 класс
            </a>
            <a class="popup__classes-link" href="#">
              9 класс
            </a>
          </li>
          <li class="popup__classes-item">
            <a class="popup__classes-link" href="#">
              10 класс
            </a>
            <a class="popup__classes-link" href="#">
              11 класс
            </a>
          </li>

        </ul>


      </div>

    </div>
  </div>
</div>