<div id="doc1" class="popup _doc">
  <div class="popup__body">
    <div class="popup__content ">
      <a href="#" class="popup__close popup--close">

        <svg class="popup__close-img" width="40" height="40" viewBox="0 0 40 40" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="M24.9497 15.0503L15.0502 24.9498" fill="white" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M15.0503 15.0503L24.9498 24.9498" fill="white" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </g>

        </svg>

      </a>

      <div class="popup__inner">
        <div class="popup__doc-inner">
          <img class="popup__doc-img" src="images/doc/1.png" alt="doc">
          <img class="popup__doc-img" src="images/doc/1.png" alt="doc">
        </div>
      </div>

    </div>
  </div>
</div>