<footer class="footer">

  <div class="footer__inner-wrap">

    <div class="container">

      <picture>
        <source media="(max-width: 768px)" srcset="images/decor/footer-bg-mob.svg">
        <source srcset="images/decor/footer-bg.svg">
        <img class="footer__bg" src="images/decor/footer-bg.svg" alt="footer-bg.svg">
      </picture>

      <div class="footer__inner">
        <div class="footer__left">
          <a class="footer__logo logo" href="#">
            <img class="logo__img" src="images/logo-2.svg" alt="logo" width="250" height="71">
          </a>
          <div class="footer__text-block">
            <p>
              ООО «Сдавайкин»
            </p>
            <p>
              ИНН 00000000
            </p>
            <p>
              ОГРН 000000000
            </p>
            <p>
              Возрастной рейтинг 6+
            </p>
          </div>
          <a class="footer__policy" href="#" data-text="Политика конфиденциальности">
            Политика конфиденциальности
          </a>
        </div>
        <div class="footer__grid">
          <div class="footer__list-wrap _a">
            <div class="footer__title text-bold">
              Классы
            </div>
            <ul class="footer__list _two-column">
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="1 класс">
                  1 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="2 класс">
                  2 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="3 класс">
                  3 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="4 класс">
                  4 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="5 класс">
                  5 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="6 класс">
                  6 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="7 класс">
                  7 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="8 класс">
                  8 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="9 класс">
                  9 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="10 класс">
                  10 класс
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="11 класс">
                  11 класс
                </a>
              </li>

            </ul>
          </div>
          <div class="footer__list-wrap _b">
            <div class="footer__title text-bold">
              Главная
            </div>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="Документы и лицензии">
                  Документы и лицензии
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="Вопрос-ответ">
                  Вопрос-ответ
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="Блог">
                  Блог
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="Новости">
                  Новости
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="Информация о СО">
                  Информация о СО
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#" data-text="ЕГЭ/ОГЭ">
                  ЕГЭ/ОГЭ
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__list-wrap _c">
            <div class="footer__title text-bold">
              Контакты
            </div>
            <ul class="footer__links">
              <li class="footer__links-item">
                <a class="footer__links-link" href="tel:89005555555" data-text="8 900 555 55 55">
                  8 900 555 55 55
                </a>
              </li>
              <li class="footer__links-item">
                <a class="footer__links-link" href="mailto:sdavaikin@mail.ru" data-text="sdavaikin@mail.ru">
                  sdavaikin@mail.ru
                </a>
              </li>
            </ul>
            <div class="footer__social social">
              <ul class="social__list">
                <li class="social__item">
                  <a class="social__link" href="#">
                    <img class="social__img" src="images/social/tg.svg" alt="social" width="26" height="21">
                  </a>
                </li>
                <li class="social__item">
                  <a class="social__link" href="#">
                    <img class="social__img" src="images/social/wa.svg" alt="social" width="26" height="21">
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__list-wrap _d">
            <div class="footer__title text-bold">
              Школа-партнер
            </div>
            <p class="footer__text">
              ОАНО СОШ "Пенаты"
            </p>
          </div>

        </div>
      </div>

    </div>

  </div>

</footer>