<header class="header">

  <div class="container">

    <div class="header__inner">

      <div class="header__logo-wrap">
        <a class="header__logo logo" href="#">
          <img class="logo__img" src="images/logo.svg" alt="logo" width="260" height="80">
        </a>
      </div>

      <div class="header__right-wrap">

        <div class="header__nav-wrap">
          <nav class="header__nav menu">
            <button class="header__burger header__burger_close  js-toggle-menu" type="button">
              <img class="burger__img" src="images/icon/burger-menu-close.svg" alt="burger" width="40" height="40">
              <span class="sr-only">Закрыть мобильное меню</span>
            </button>
            <ul class="menu__list">

              <li class="menu__item">

                <div class="menu__item-top">

                  <a class="menu__link _arrow" href="#">
                    Классы
                  </a>

                  <div class="menu__sublist-wrap">
                    <ul class="menu__sublist">
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="1 класс">
                          1 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="2 класс">
                          2 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="3 класс">
                          3 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="4 класс">
                          4 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="5 класс">
                          5 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="6 класс">
                          6 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="7 класс">
                          7 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="8 класс">
                          8 класс
                        </a>
                      </li>

                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="9 класс">
                          9 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="10 класс">
                          10 класс
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="11 класс">
                          11 класс
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

              </li>

              <li class="menu__item">

                <div class="menu__item-top">
                  <a class="menu__link" href="#">
                    Контакты
                    
                  </a>
                </div>
              </li>

              <li class="menu__item">

                <div class="menu__item-top">

                  <a class="menu__link _arrow" href="#">
                    Родителям
                  </a>

                  <div class="menu__sublist-wrap _second">
                    <ul class="menu__sublist">
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text=" Документы и лицензии">
                          Документы и лицензии
                          
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="Вопрос-ответ">
                          Вопрос-ответ
                          
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="Блог">
                           Блог
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="Новости">
                          Новости
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="Информация о СО">
                          Информация о СО
                        </a>
                      </li>
                      <li class="menu__subitem">
                        <a class="menu__sublink" href="#" data-text="ЕГЭ/ОГЭ">
                           ЕГЭ/ОГЭ
                        </a>
                      </li>
                    </ul>
                  </div>

                </div>

              </li>
            </ul>
            <a class="menu__btn btn" href="#">
              Отправить заявку
            </a>
          </nav>
        </div>

        <div class="header__phone">
          <a class="header__phone-link text-bold" href="tel:89005555555">
            8 900 555 55 55
          </a>
          <span class="header__schedule">
            c 8:00 до 20:00
          </span>
        </div>

        <button class="header__burger  js-toggle-menu" type="button">
          <img class="burger__img" src="images/icon/burger-menu.svg" alt="burger" width="40" height="40">
          <span class="sr-only">Открыть мобильное меню</span>
        </button>

        <a class="header__btn btn" href="#">
          Отправить заявку
        </a>

      </div>

    </div>

  </div>

</header>