<section class="preparation">
  <div class="container">
    <div class="preparation__inner">
      <img class="preparation__img" src="images/decor/preparation.svg" alt="preparation" width="387" height="309">
      <div class="preparation__title _h2">
        Подготовьтесь к аттестации бесплатно
      </div>
      <div class="preparation__text text-bold">
        Хотите попробовать онлайн-сдачу аттестации на практике? Мы откроем вам доступ к обучающим материалам на 3 дня
      </div>
      <a class="preparation__btn btn btn_3" href="#">
        Получить доступ
      </a>
    </div>
  </div>
</section>