<section class="stages">
  <div class="container">
    <div class="stages__title _h2">
      Этапы прохождения промежуточной аттестации
    </div>
    <div class="stages__inner">
      <img class="stages__img" src="images/decor/stages.svg" alt="stages" width="824" height="290">
      <div class="stages__item _1">
        <div class="stages__number">
          1
        </div>
        <div class="stages__subtitle text-bold">
          Регистрация на портале
        </div>
        <div class="stages__text">
          После подачи заявки мы отправим список нужных нам документов и анкету, куда следует внести данные ребёнка
        </div>
      </div>
      <div class="stages__item _2">
        <div class="stages__number">
          2
        </div>
        <div class="stages__subtitle text-bold">
          Оформление и прикрепление к школе
        </div>
        <div class="stages__text">
          Получив заполненную анкету и сканы документов, мы зачисляем ученика в аккредитованную школу-партнёр
        </div>
      </div>
      <div class="stages__item _3">
        <div class="stages__number">
          3
        </div>
        <div class="stages__subtitle text-bold">
          Обучение и тренинги
        </div>
        <div class="stages__text">
          Ученику и родителям предоставляется доступ к учебным материалам платформы и прохождению аттестаций
        </div>
      </div>
      <div class="stages__item _4">
        <div class="stages__number">
          4
        </div>
        <div class="stages__subtitle text-bold">
          Дистанционная аттестация
        </div>
        <div class="stages__text">
          После успешной аттестации выдаётся табель с оценками подтверждающий прохождение курса. Данные вносятся
          в единый реестр. Вы можете продолжить обучение в любой школе. В том числе и муниципальной
        </div>
      </div>
    </div>
  </div>
</section>